.splash {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 100vw;
  height: 70vh;
  background: #394367;
  overflow: hidden;
  @include breakpoint-m {
    margin-bottom: 32px;
    height: 45vh;
    background: #fff;
  }
  @include breakpoint-l {
    height: 55vh;
  }
  @include breakpoint-xl {
    height: 60vh;
  }

  &__slider {
    display: flex;
    width: 100vw;
    height: 100%;
    transform: translate3d(-300vw, 0px, 0);
    justify-content: flex-start;
    will-change: transform;
    /* ios flickering fixes */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    perspective: 1000;
    &.swiping {
      touch-action: none;
    }
    &.wTransition {
      transition: transform 0.15s cubic-bezier(0.23, 1, 0.32, 1);
    }
    @include breakpoint-m {
      justify-content: flex-start;
      width: calc(225vw + 96px);
      transform: translate(0px, 0px);
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &__triplet {
    display: flex;
    width: 300vw;
    &--main {
      order: 2;
    }
    &--left {
      order: 1;
    }
    &--right {
      order: 3;
    }
    @include breakpoint-m {
      display: grid;
      grid-template-rows: calc(50% - 8px) calc(50% - 8px);
      grid-template-columns: auto 300px;

      grid-column-gap: 16px;
      grid-row-gap: 16px;

      padding: 0 16px;
      width: 75vw;
      height: 100%;
    }
    @include breakpoint-xl {
      grid-template-columns: auto 360px;
    }
    @include breakpoint-xl {
      grid-template-columns: auto 400px;
    }

    &--slide {
      position: relative;
      width: 100vw;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      /* safari flickering fixes */
      backface-visibility: hidden;
      transform-style: preserve-3d;
      perspective: 1000;

      @include breakpoint-m {
        width: auto;
        height: auto;
        &:hover {
          & img {
            transform: scale(1.25);
          }
        }
      }
    }

    &--big {
      @include breakpoint-m {
        grid-column-start: 1;
        grid-row: 1 / 3;
      }
    }

    &--reg {
      @include breakpoint-m {
        grid-column-start: 2;
        & h1 {
          padding-top: 7px;
          font-size: 24px;
          text-shadow: 1px 1px #000;
        }
        & p {
          padding-bottom: 0 !important;
          height: 0;
          overflow: hidden;
          transition: height 0.75s cubic-bezier(0.23, 1, 0.32, 1),
            padding 0.75s cubic-bezier(0.23, 1, 0.32, 1);
          will-change: height, padding;
        }
        &:hover {
          & p {
            padding-bottom: 16px !important;
            height: auto;
            overflow: hidden;
          }
        }
      }
    }

    &__pic {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      @include breakpoint-m {
        border-radius: 2px;
        transition: transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

    &__tit {
      padding-top: 32px;
      text-shadow: 2px 2px #000;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.35) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &__desc {
      line-height: 22px;
      background: rgba(0, 0, 0, 0.45);
      text-shadow: 1px 1px #000;
    }
  }

  &__nav {
    display: none;
    @include breakpoint-m {
      display: block;
      position: absolute;
      top: 0;
      width: calc(12.5vw - 16px);
      height: 100%;
      z-index: 1;
      &:after {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
      }
      &:hover {
        &:after {
          color: #f90;
        }
      }

      &--prev {
        left: 0;
        &:after {
          content: 'prev';
          left: 16px;
        }
      }

      &--next {
        right: 0;
        &:after {
          content: 'next';
          right: 16px;
        }
      }

      &--ghost {
        cursor: default;
        &:after {
          display: none;
        }
      }
    }
  }
}
