.wrap {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100vw;
  background: #f6f5f3;
  @media only screen and (min-width: 768px) {
    padding: 0;
  }

  &__cols {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
    @media only screen and (min-width: 1024px) {
      margin: 0 auto;
      max-width: calc(75vw - 32px);
    }
    &--tit {
      margin-bottom: -1px;
      padding: 15px 18px 0;
      font-size: 13px;
      text-transform: uppercase;
      @media only screen and (min-width: 768px) {
        padding: 29px 0 0;
      }
    }
    &__col1 {
      @media only screen and (min-width: 768px) {
        padding: 0 16px 32px;
        max-width: 300px;
        background: #e7e8e9;
      }
      @media only screen and (min-width: 1366px) {
        max-width: 360px;
      }
      @media only screen and (min-width: 1366px) {
        max-width: 400px;
      }
    }
    &__col2 {
      padding-top: 14px;
      @media only screen and (min-width: 768px) {
        margin-left: 16px;
        padding-top: 0;
        max-width: calc(100vw - 332px);
      }
      @media only screen and (min-width: 1024px) {
        flex: 1 0 0;
      }
    }
  }
}
