.wrap {
  padding-bottom: 16px;
  width: 100vw;
  @include breakpoint-s {
    padding: 0;
  }

  &__cols {
    display: flex;
    flex-direction: column;
    @include breakpoint-s {
      flex-direction: row;
    }
    @include breakpoint-xl {
      margin: 0 auto;
      max-width: calc(75vw - 32px);
    }
    &--tit {
      margin-bottom: -1px;
      padding: 29px 18px 0;
      text-transform: uppercase;
      @include breakpoint-s {
        padding: 29px 0 0;
      }
    }
    &__col1 {
      padding-bottom: 16px;
      @include breakpoint-s {
        padding: 0 16px 32px;
        max-width: 300px;
        background: #e7e8e9;
      }
      @include breakpoint-xl {
        max-width: 360px;
      }
      @include breakpoint-xl {
        max-width: 400px;
      }
    }
    &__col2 {
      padding-top: 14px;
      @include breakpoint-s {
        margin-left: 16px;
        padding-top: 0;
        max-width: calc(100vw - 332px);
      }
      @include breakpoint-m {
        flex: 1 0 0;
      }
    }
  }
}
