.list {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100vw;
  background: #fff;
  &__card {
    margin: 16px 16px 0;
    padding: 16px;
    background: #090;
    @media only screen and (min-width: 950px) {
      margin: 16px auto 0;
      max-width: calc(75vw - 32px);
    }
  }
}
